ul{
  list-style: none;
  display:grid;
  grid-template-columns: 500px 500px;
  grid-gap: 20px;
  
}

li img{
width: 500px; 
border:2px purple solid

}

body{
  font-family: 'Rock Salt', cursive;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1497005367839-6e852de72767?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80); 
  background-size: cover
}