  /* ul{
  list-style: none;
  display:grid;
  grid-template-columns: 500px 500px;
  grid-gap: 20px;
  
} */

/* img{
width: 500px;
border:2px purple solid;

} */

.jumbotron {
	color: #4f1c70;
  font-family: 'Homemade Apple';
  box-shadow: 12px 10px 16px rgb(111, 111, 116)
}

.ptag{
  padding-top: 20px
}

body{
  font-family: 'Homemade Apple', cursive;
  padding-top: 50px;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1500067025552-cfb5c7a369ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80); 
  background-size: cover
}  

.thumbnail img{
  border: 2px solid grey;
  transition: transform .2s;
}

.thumbnail img:hover{
  transform: scale(1.16);
  -webkit-transform: scale(1.16);
}